// Override and add customized styles in this file.
//
// You can also create SCSS files in the app/assets/stylesheets/custom/
// folder and they will be loaded automatically.

.button.expanded:not(.button-twitter):not(.button-facebook):not(.button-google):hover {
  background-color: $button-hover;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar .menu-button {
  margin-right: 24px;
}

.top-bar-title {
  margin: 16px 0;
  font-size: 32px;
  font-weight: 300;
  line-break: normal;
  width: 100%;
  max-width: fit-content;
  flex: 1;
  a {
    all: unset;
    cursor: pointer;
  }
}
.top-bar-right {
  margin: 16px 0;
  ul {
    align-items: center;
  }
  img {
    max-height: 80px;
    height: auto;
    margin: 0 24px;
  }
}

.auth-image {
  background: $brand;
}

.map-home {
  img {
    margin: -20px 0;
    z-index: 9;
  }
}
@include breakpoint(large down) {
  .map-home {
    margin: auto;
    img {
      margin: auto;
    }
  }
}
.header-card {
  z-index: 3;
}
.background-header {
  z-index: 1;
}
.footer-logos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  img {
    max-height: 40px;
    height: 100%;
    margin: 8px;
    &:first-child {
      max-height: 45px;
    }
    &:nth-child(3) {
      max-height: 30px;
    }
  }
}
